<div class="grid-wrapper">
  <table mat-table [dataSource]="dataSource">
    <ng-content></ng-content>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <div class="spinner-container" *ngIf="isLoading">
    <app-waiting></app-waiting>
  </div>
  <mat-paginator
    [hidden]="showFooter === false"
    [disabled]="isLoading"
    (page)="pageChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
