<div class="app-login-page">
  <mat-card>
    <mat-card-title>{{ 'LOGIN' | translate }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
        <p>
          <mat-form-field>
            <input autocomplete="off"
                   type="text"
                   matInput
                   formControlName="username"
                   [attr.disabled]="waiting"
                   [placeholder]="'USERNAME' | translate">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input autocomplete="off"
                   type="password"
                   matInput
                   formControlName="password"
                   [attr.disabled]="waiting"
                   [placeholder]="'PASSWORD' | translate">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button [attr.disabled]="waiting" type="submit" mat-button>{{ 'LOGIN' | translate }}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>

